---
http_interactions:
- request:
    method: post
    uri: https://api.transferto.com/v1.1/transactions/fixed_value_recharges
    body:
      encoding: UTF-8
      string: '{"account_number":"6281234567890","product_id":"315","external_id":"14248512386098429","simulation":"1","sender_sms_notification":"1","sender_sms_text":"Sender
        message","recipient_sms_notification":"1","recipient_sms_text":"Recipient
        message","sender":{"last_name":"Delorm","middle_name":"","first_name":"John","email":"john@testaccount.com","mobile":"6012345678"},"recipient":{"last_name":"Delorm","middle_name":"","first_name":"Lisa","email":"lisa@testaccount.com","mobile":"6281234567890"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"transaction_id":"3735512","simulation":1,"status":"0","status_message":"Transaction
        successful","date":"2018-12-07 12:10:33","account_number":"6281234567890","external_id":"14248512386098429","operator_reference":"","product_id":"315","product":"125
        MB, 3 days, 2G - 17INR","product_desc":"AIRC / BIH / 2G Plan / 125 MB / 3
        days","product_currency":"INR","product_value":17,"local_currency":"INR","local_value":17,"operator_id":"1425","operator":"Aircel
        Bihar India","country_id":"766","country":"India","account_currency":"USD","wholesale_price":0.27,"retail_price":0.32,"fee":0,"sender":{"last_name":"Delorm","middle_name":"","first_name":"John","email":"john@testaccount.com","mobile":"6012345678","custom_field_1":"","custom_field_2":"","custom_field_3":""},"recipient":{"last_name":"Delorm","middle_name":"","first_name":"Lisa","email":"lisa@testaccount.com","mobile":"6281234567890","custom_field_1":"","custom_field_2":"","custom_field_3":""},"sender_sms_notification":1,"sender_sms_text":"Sender
        message","recipient_sms_notification":1,"recipient_sms_text":"Recipient message","custom_field_1":"","custom_field_2":"","custom_field_3":""}'
  recorded_at: Fri, 07 Dec 2018 12:13:56 GMT
recorded_with: VCR 4.0.0
