---
http_interactions:
- request:
    method: get
    uri: https://api.transferto.com/v1.1/operators
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"operators":[{"operator_id":1707,"operator":"9Mobile Nigeria","country_id":826,"country":"Nigeria"},{"operator_id":1437,"operator":"Aircel
        Andhra Pradesh India","country_id":766,"country":"India"},{"operator_id":1428,"operator":"Aircel
        Assam India","country_id":766,"country":"India"},{"operator_id":1425,"operator":"Aircel
        Bihar India","country_id":766,"country":"India"},{"operator_id":1376,"operator":"Aircel
        Chennai India","country_id":766,"country":"India"},{"operator_id":1432,"operator":"Aircel
        Delhi India","country_id":766,"country":"India"[...]
