---
http_interactions:
- request:
    method: get
    uri: https://api.transferto.com/v1.1/operators/1707/products
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"fixed_value_vouchers":[],"fixed_value_recharges":[{"product_id":145,"product_name":"27.5GB,
        30 Days - 18,000NGN","product_short_desc":"27.5GB/30Days","operator_id":1707,"operator":"9Mobile
        Nigeria","country_id":826,"country":"Nigeria","service_id":7,"service":"bundles","account_currency":"USD","wholesale_price":57.87,"retail_price":64.3,"fee":0,"product_currency":"NGN","product_value":18000,"local_currency":"NGN","local_value":18000},{"product_id":1620,"product_name":"EasyBlaze
        - 1.5GB, 30 Days - 1200NGN","product_short_desc":"1.5GB/30 Days","operator_id":1707,"operator":"9Mobile
        Nigeria","country_id":826,"country":"Nigeria","service_id":7,"service":"bundles","account_currency":"USD","wholesale_price":3.87,"retail_price":4.3,"fee":0,"product_currency":"NGN","product_value":1200,"local_currency":"NGN","local_value":1200},{"product_id":142,"product_name":"EasyBlaze
        - 11.5GB, 30 Days - 8,000NGN","[...]
- request:
    method: get
    uri: https://api.transferto.com/v1.1/operators
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"operators":[{"operator_id":1707,"operator":"9Mobile Nigeria","country_id":826,"country":"Nigeria"},{"operator_id":1425,"operator":"Aircel
        Bihar India","country_id":766,"country":"India"},{"operator_id":2184,"operator":"Airtel
        Andhra Pradesh India","country_id":766,"country":"India"},{"operator_id":2217,"operator":"Airtel
        Assam India","country_id":766,"country":"India"},{"operator_id":1449,"operator":"Airtel
        Bangladesh","country_id":678,"country":"Bangladesh"},{"operator_id":[...]
[...]
- request:
    method: get
    uri: https://api.transferto.com/v1.1/product/variable_value_recharges/1475/suggested_values
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"suggested_values":[]}'
  recorded_at: Fri, 23 Nov 2018 07:31:42 GMT
[...]
- request:
    method: get
    uri: https://api.transferto.com/v1.1/product/variable_value_recharges/1558/suggested_values
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"suggested_values":[{"local_currency":"INR","local_value":29,"name":"520
        MB 3G/4G Plan for 28 Days","description":"AIRT / AP / 29INR / 3G/4G Plan /
        520 MB / 28 Days","additional_info_1":"type:3G/4G Plan","additional_info_2":"validity:28
        Days","additional_info_3":"data_amount:520 MB","wholesale_price":0.5,"retail_price":0.58,"fee":0},{"local_currency":"INR","local_value":48,"name":"1
        GB 3G/4G Plan for 28 Days","description":"AIRT / AP / 48INR / 3G/4G Plan /
        1 GB / 28 Days","additional_info_1":"type:3G/4G Plan","additional_info_2":"validity:28
        Days","additional_info_3":"data_amount:1000 MB","wholesale_price":0.82,"retail_price":0.94,"fee":0},{"local_currency":"INR","local_value":49,"name":"3
        GB 3G/4G Plan for 1 Day","descri[...]
[...]
- request:
    method: get
    uri: https://api.transferto.com/v1.1/operators/2219/products
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"fixed_value_vouchers":[],"fixed_value_recharges":[{"product_id":616,"product_name":"175
        MB, 5 days, 3G - 43INR","product_short_desc":"AIRT / HAR / 3G Plan / 175 MB
        / 5 days","operator_id":2219,"operator":"Airtel Haryana India","country_id":766,"country":"India","service_id":7,"service":"bundles","account_currency":"USD","wholesale_price":0.7,"retail_price":0.82,"fee":0,"product_currency":"INR","product_value":43,"local_currency":"INR","local_value":43}],"variable_value_payments":[],"fixed_value_payments":[],"variable_value_vouchers":[],"variable_value_recharges":[{"product_id":1532,"product_name":"Airtel
        Haryana India Data Plan","product_short_desc":"Airtel Haryana India Data Plan","operator_id":2219,"operator":"Airtel
        Haryana India","country_id":766,"country":"India","service_id":7,"service":"bundles","account_currency":"USD","product_currency":"INR"}]}'
  recorded_at: Fri, 23 Nov 2018 07:31:59 GMT
[...]
- request:
    method: get
    uri: https://api.transferto.com/v1.1/operators/2061/products
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"fixed_value_vouchers":[{"product_id":112,"product_name":"Gift Card
        100GTQ","product_short_desc":"Pharmacy 100GTQ Voucher","operator_id":2061,"operator":"Farmacias
        Cruz Verde Guatemala","country_id":756,"country":"Guatemala","service_id":3,"service":"pharmacy","account_currency":"USD","wholesale_price":14.79,"retail_price":17.4,"fee":0,"product_currency":"GTQ","product_value":100,"local_currency":"GTQ","local_value":100,"info1":null,"info2":null,"info3":null},{"product_id":171,"product_name":"Gift
        Card 20 USD HC","product_short_desc":"Pharmacy Voucher 20 USD HC","operator_id":2061,"operator":"Farmacias
        Cruz Verde Guatemala","country_id":756,"country":"Guatemala","service_id":3,"service":"pharmacy","account_currency":"USD","wholesale_price":18.69,"retail_price":21.99,"fee":0,"product_currency":"USD","product_value":18.05,"local_currency":"GTQ","local_value":126.35,"info1":null,"info2":null,"info3":null},{"product_id":113,"product[...]
[...]
